[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
faker = "*"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
python-dotenv = "*"
wtforms = "*"
bootstrap-flask = "*"
flask-moment = "*"
gunicorn = "*"

[requires]
python_version = "3.7"
